@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: 'Tiro Bangla', serif;
}
/* banner section start */
.banner_sect{
  position: relative;
}
.modal-dialog {
	max-width: 50% !important;
}
.banner_sect .slide_container .slide{
  min-height: 80vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px 9%;
  padding-bottom: 70px;
}
.banner_sect .slide_container .slide .content{
  flex: 1 1 300px;
  animation: slideContent .4s linear .6s backwards;
}

@keyframes slideContent {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
}
.banner_sect .slide_container .slide .image{
  flex: 1 1 700px;
}
.banner_sect .slide_container .slide .image img{
  width: 100%;
  animation: slideImage .4s linear;
}
@keyframes slideImage {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
.banner_sect .slide_container .slide .content h2{
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #373737;
}
.banner_sect .slide_container{
  display: none;
}
.banner_sect .slide_container.active {
  display: block;
}

.banner_sect #prev,
.banner_sect #next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #212121;
  background: #d0d0d0;
  border-radius: 5px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  font-weight: bolder;
}
.banner_sect #prev:hover,
.banner_sect #next:hover{
  background: #929292;
  color: #fcfcfc;
}
.banner_sect #prev{
  left: 20px;
}
.banner_sect #next{
  right: 20px;
}

@media (min-width: 300px) and (max-width: 500px){
  .banner_sect #prev{
    left: 0px;
    top: 40%;
  }
  .banner_sect #next{
    right: 0px;
    top: 40%;
  }

}
@media (min-width: 501px) and (max-width: 1200px){
  .banner_sect #prev{
    left: 0px;
    top: 60%;
  }
  .banner_sect #next{
    right: 0px;
    top: 60%;
  }
}
/* Muktopaath section start */

#div2{
  display: none;
}
#div3{
  display: none;
}
#div4{
  display: none;
}
ul.about_des li:before {
    list-style-type: '\2B50';
    padding-right: 10px;
}
.menu {
  /* padding: 4rem 0; */
}
.news-title {
	margin-bottom: 0px !important;
    padding: 12px !important;
}
.title {
  text-align: center;
  margin-bottom: 2rem;
}
.list-inline-item a {
	padding: 10px !important;
	display: inline-block;
}
.btn-container {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    overflow:hidden;
}
.links li{
  list-style: none;
}
.dcmsg{
    font-size: 1.2rem;
}
.filter-btn{
    background: transparent;
    border-color: #7070702a;
    font-size: .3;
    text-transform: capitalize;
    margin: 0 0.1rem;
    border-radius: 25px;
    padding: 5px 10px;
    color: #2d2d2d;
    cursor: pointer;
    font-size: .8rem;
}
li:hover .filter-btn,
li.active .filter-btn{
  background: #92278f1d;
  border-color: #92278f;
  color: #1e1e1e;
  transition: .5s;
}

.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
}
.img-section img{
    width: 70%;
    padding: 60px 20px 10px 10px;
    margin-left: 100px;
}
.about_text{
    padding-top: 60px;
}
.button_cus{
    border: 1px solid #92278f;
    background: #92278f;
    color: #f2f2f2;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: .85rem;
}
.btn-2{
  font-size: .85rem;
}
.about_des li {
	font-size: 1.2rem;
	color: #444444;
	padding-top: .8rem;
}

/*--------------carousel styling---------------*/

.carousel .card-head{
    color:#121212;
    transition: all 0.3s linear;
    box-shadow: 0 4px 8px 0 #3636360d, 0 6px 20px 0 #2727270d;
}


.fa-star{
    color: #f2994a;
}

.carousel-indicators{
    bottom: -15%;
}

.carousel-indicators [data-bs-target]{
    width: 3rem;
    height: 2rem;
    padding-inline: 5px;
}

.cmnt_img{
  display: flex;
  text-align: center;
}
.cmnt_img img{

  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.cmnt_img p{
  padding-top: 10px;
  padding-left: 10px;
  color: #272b92;
}
.cmnt_card{
  height: 18rem;
  padding: 0 10px;
}
.cmnt_card p{
  font-size: .8rem;
}
.cmnt_pdes{
  color: #555555;
  line-height: 1.5rem;
}
.cmnt_img2{
  margin-top: 5.4rem;
}
.cmnt_img3{
  margin-top: 4rem;
}
.cmnt_opt{
  text-align: center;
  justify-content: center;
  padding-top: 20px;
}
.cmnt_opt button {
  background: #28c14f;
  border-color: #7070702a;
  font-size: .3;
  text-transform: capitalize;
  border-radius: 5px;
  padding: 10px 20px;
  color: #ffffff;
  cursor: pointer;
  font-size: .8rem;
  padding-inline: 10px;
  margin: 0 .2rem;

}
.cmnt_opt button:hover{
  background: #1e8d3a;
  color: #f6f4f4;
}

/* -------------feature section start---------- */

.feature_sect img{
  width: 220px;
  height: 220px;
  border-radius: 50%;
}

.service_img1{
  background: #eaf2ff;
}
.service_img2{
  background: #e7f5fe;
}
.service_img3{
  background: #e2fdf3;
}
.feature_sect h5{
  color: #2d2d2d;
}
.feature_sect p{
  padding: 0 10px;
  color: #2d2d2d;
}
.card-box{
    color:#b0b0b0;
    transition: all 0.3s linear;
    padding: 40px 10px 0px 10px;
    margin: 20px 10px;
    box-shadow: 0 4px 8px 0 #36363608, 0 6px 20px 0 #2727270d;
    height: 25rem;
}
/*---------------------
Notice Board Section Style
---------------------*/
#notice-board .notice-content{
  background: linear-gradient(to bottom, #ffffff 0%, #ebebeb 100%);
  border: 1px solid #dddddd;
  font-size: 1em;
  padding: 0 0 10px 0;
  margin-bottom: 20px;
}

.notice-content .notice-board-bg{
  background-image: url('../images/bg_notice_board.png');
  background-repeat: no-repeat;
  padding: 0 0 0 40px;
  /* padding: 30px 30px 30px 120px; */
}

.notice-content h2{
  color: #353535;
  font-size: 1.5em;
}

.notice-content ul li{
  margin: 10px 0;
}

.notice-content ul li a{
  border-bottom: 1px dotted #666666;
  color: #666666;
  margin-left: 20px;
  justify-content: center;
  text-align: center;
  transition: .5s ease all;
}
.notice-content .notice-list ul li{
  justify-content: center;
  text-align: center;
}

.notice-content ul li a:hover{
  border-bottom: 1px solid #000000;
  color: #000000;
}

.notice-content .notice-list .btn{
  border-radius: 0;
  color: #000000 !important;
  float: right;
  background-image: linear-gradient(to bottom, #666, #a6a6a6);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #a2a2a2;
  padding: 0 5px;
  color: #fff;
  background-color: #a6a6a6;
}


/*---------------------
Footer Section Style
---------------------*/
#footer-section .footer-content{
  background-color: #6ea33d17;
  display: block;
}

#footer-section .footer-social-link{
  flex-wrap: nowrap;
}

.footer-social-link a{
  color: #757575;
  width: fit-content;
}

.outer-links h4{
  color: #353535;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
}

#footer-section a{
  color: #353535;
}

.bottom-footer{
  background-color: #6ea33d5e;
}

.bottom-footer img{
  max-height: 30px;
}




